<div class="container-fluid">
    <div class="content-wrapper" style="margin-top:5em">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1 translate>Lorem ipsum {{ ctrl.translateString }} dolor sit amet</h1>
                <p translate>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p translate>Doloribus quas laudantium omnis quos aliquid quo, sapiente a ipsam ex deserunt ad minima temporibus labore expedita corrupti atque eveniet et enim.</p>
                <p translate>Aveniet et enim.</p>
                <p translate>Fuck next test</p>
                <p translate translate-n="ctrl.pluralCount" translate-plural="{{ ctrl.pluralCount }} Boote">Ein Boot</p>
                {{ ctrl.months }}
            </div>
        </div>
    </div>
</div>
